{% extends "index.html" %}
{% block body %}
<div class="row">
{% for item in experiments %}
    <div class="large-3 medium-3 small-3 columns">
        <p>{{item[4]}}</p>
        <p>Created: {{item[0]}}</p>
        <p>Last Accessed: {{item[1]}}</p>
    </div>
{% endfor %}
</div>
<div class="row">
    <form action="/add_experiment" method="post">
        <input type="text" name="expname"><br>
        <input type="text" name="dtype"><br>
        <input id="submit" type="submit">
    </form>
</div>
{% endblock %}