{% extends "index.html" %}
{% block body %}
<div class="row">
{% for item in experiments %}
    <div class="large-3 medium-3 small-3 columns">
        <p>{{item.name}}</p>
        <p>Created: {{item.date_begin}}</p>
        <p>Projected End Date {{item.date_end}}</p>
    </div>
{% endfor %}
</div>
{% if reveal_modal %}
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Add an experiment folder to watch</h2>
  <form action="/add_watched_folder" method="post">
        <input type="text" name="expname" placeholder="Experiment name">
        <!-- Add datatypes here -->
        <br>Data types:
        <div id="additionalDataTypes">
          <input type="text" name="dtype" id="dtype" placeholder="Data type">
          <input type="text"name="extension" id="extension" placeholder="Extension (identifier)">
          <a href="#" id="addDataTypeFilter0" class="button">Add another data type</a>
        </div>
        <div id="copyToHere"></div>
        <br>
        What time interval would you like me to check for new files?
        <input type="text" name="timeInterval" placeholder="In seconds">
        <br>
        <input id="submit" type="submit" value="Add" class="button medium-12 large-12 radius">
        <input type="text" id="fp" name="folderpath" placeholder="Path of folder">
        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <h4>Folders</h4>
            <pre id="file_select" class="height-limited"></pre>
          </div>
          <div class="large-6 medium-6 small-6 columns">
            <h4>Files (First 100)</h4>
            <pre id="files" class="height-limited"></pre>
        </div>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/file_selector.js"></script>
<script type="text/javascript" src="static/js/experiments_page.js"></script>
{% endblock %}
