{% extends "index.html" %}
{% block body %}
<div class="row">
{% for item in experiments %}
    <div class="large-3 medium-3 small-3 columns">
        <p>{{item[4]}}</p>
        <p>Created: {{item[0]}}</p>
        <p>Last Accessed: {{item[1]}}</p>
    </div>
{% endfor %}
</div>
<div class="row">
    <div class="large-3 medium-3 columns">
        <h4>Add new epxeriment</h4>
        <form action="/add_experiment" method="post">
            <input type="text" name="expname" placeholder="Experiment">
            <input type="text" name="dtype" placeholder="Data type">
            <input id="submit" type="submit" value="Add" class="button medium-12 large-12 radius">
        </form>
        </div>
</div>
{% endblock %}