script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.0.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation-flex.min.css")
title Sarnaandra
script(type="text/javascript").
  setTimeout(function(){console.log('reload');location.reload();}, 60*15*1000);
