//output:../static/index.html
doctype html
html
  head
    include ./head.jade
    link(rel="stylesheet", href="static/style.css")
  body#app
    include ./navbar.jade
    .row
      .columns.medium-3.small-3.button(style='margin: 5px;', data-open="newExpModal") 
        div New Experiment
      .columns.medium-6
        h1.text-center Experiments
    .row
      .columns.medium-12(v-if="empty")
        p Sorry, but there have been no produced Experiments. Please make one to start the process.
      .columns.medium-3(v-else, v-for="(index, exp) in experiments")
        div Name: {{exp.name}}
        div Description: {{exp.description}}
        div Id: {{exp.id}}
        br
        
    .small.reveal#newExpModal(data-reveal)
      h3 Name:
      input(type='text', v-model="api.name")
      h3 Tags:
      input(type='text', placeholder='comma separated words', v-model="api.tags")
      h3 Description:
      textarea(v-model="api.description")
      input.button(type='submit', value='submit', @click="addExp", data-close)

    script(type="text/javascript", src="app.js")
