<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Sarnaandra</title>
</head>
<body>
<div data-offcanvas="data-offcanvas" class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small"><a class="left-off-canvas-toggle menu-icon"><span></span></a></section>
            <section class="middle tab-bar-section">
                <h1 class="title">SARNAANDRA</h1>
            </section>
        </nav>
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li>
                    <label>Sarnaandra</label>
                </li>
                <li><a href="/">Experiments</a></li>
                <li><label>General</label></li>
                <li><a href="/recurring_scripts">Recurring scripts</a> </li>
                <li>
                    <label>Account</label>
                </li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </aside>
        <section class="main-section">
            <div class="row">
                <div class="medium-12 large-12 small-12 columns app-title">
                    <h2>SARNAANDRA</h2>
                    {% if main %}
                    <br>
                    <span id="diskSpaceSpan">You have {{freespace}}GB free out of {{totalspace}}GB ({{percentage}}%) in hard drive: {{drive}}</span>
                    <!-- <a href="#" class="button">Pick Drive</a> -->
                    <div class="progress large-12 radius success center" id="diskSpace">
                        <span class="meter app-title" style="width: {{100 - percentage}}%"></span>
                    </div>
                    <div class="row">
                        <div class="medium-10 columns">
                        <h5>Experiment organization location: {{backup}}</h5>
                        </div>
                        <div class="medium-2 columns">
                        <a href="/settings" class="label warning">change</a>
                        </div>
                        </div>
                    {% endif %}
                    {% if reveal_modal %}
                    <br>
                    <a href="#" data-reveal-id="myModal" class="button">
                      {% if main %}
                        Add experiment watch folder
                      {% elif script_page %}
                        Add script
                      {% endif %}
                      </a>
                    {% endif %}
                </div>
            </div>
            {% block body %}

            {% endblock %}
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>

<script src="/static/js/main.js"></script>
{% block scripts %}

{% endblock %}
</body>
</html>
