<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Data Tunes</title>
</head>
<body>
<div data-offcanvas="data-offcanvas" class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small"><a class="left-off-canvas-toggle menu-icon"><span></span></a></section>
            <section class="middle tab-bar-section">
                <h1 class="title">Data Tunes</h1>
            </section>
        </nav>
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li>
                    <label>Data Tunes</label>
                </li>
                <li><a href="/">Experiments</a></li>
                <li><a href="#">Last Experiment</a></li>
                <li><a href="#">Close database connection</a></li>
                <li><label>General</label></li>
                <li><a href="#">Recurring scripts</a> </li>
                <li>
                    <label>Account</label>
                </li>
                <li><a href="#">Settings</a></li>
            </ul>
        </aside>
        <section class="main-section">
            <div class="row">
                <div class="medium-12 columns app-title">
                    <h2>Data Tunes</h2>
                    <p>You have {{freespace}}GB free out of {{totalspace}}GB ({{percentage}}%) in hard drive: {{drive}}</p>
                    <div class="progress large-12 radius success center" id="diskSpace">
                        <span class="meter app-title" style="width: {{100 - percentage}}%"></span>
                    </div>

                </div>
            </div>
            {% block body %}

            {% endblock %}
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/jquery.cookie.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/fastclick.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/placeholder.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.offcanvas.min.js"></script>-->
<script src="static/js/main.js"></script>
</body>
</html>