{% extends "index.html" %}
{% block body %}
<!-- Go through a tuple of values -->
{% for setting in setting %}
    <div class="row">
        <form action="/change_setting/{{setting.key}}" method="post">
            <div class="large-10 medium-10 small-10 columns">
                {{setting.key}}
                <input name="{{setting.key}}" placeholder="{{setting.key}}" type="text" value="{{setting.value}}">
            </div>
            <div class="large-2 medium-2 small-2 columns">
                <input type="submit" value="Change" class="button radius success">
            </div>
        </form>
    </div>
{% endfor %}
{% endblock %}


{% block scripts %}

{% endblock %}